---
layout: default
title: All Posts
---

<article id="main">
    <section class="wrapper style4">
        <div class="inner">
            <h7>{{ page.title }}</h7>
    
            <!-- 标签云 -->
            <div id='tag_cloud' class="tags">
                {% for tag in site.tags %}
                <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
                {% endfor %}
            </div>

            <HR class="style1">

                            
                
            <!-- 标签列表 -->
            <div>
                {% for tag in site.tags %}
                <span style="margin-bottom: 20px; margin-top: 0;" class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
                {% for post in tag[1] %}
                <!-- <li class="listing-item">
                <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li> -->
                {% if post.hide != true %}

                <div style="margin-left: 20px; margin-bottom: 20px;" class="wrapper post_block">

                    <a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}</h2>
                        
                    <h6>{{ post.excerpt | markdownify }}</h6></a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    <HR class="style3">
                </div>

                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>

            <HR class="style2">


        </div>
    </section> 
</article>